<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  <%= label_tag(:q, "Make sure to add space after ,. Like this \"water, burger, pizza \"") %>
<% end %>
